CHATBOT_API_KEY=0c24584bf8e572f0f52cf344ee7cebd13f4b056dd56c925841b17d87d5ec223d
AUTH_REQUIRED=true
GROQ_API_KEY=YOUR_GROQ_API_KEY
GROQ_MODEL=openai/gpt-oss-20b
GROQ_BASE_URL=https://api.groq.com/openai/v1
ENVIRONMENT=production
LOG_LEVEL=INFO
